body {
	font-family: Helvetica;
	background-color: #F8F9FA;
	font-weight: 100;
}

/* container */
.bigger-box {
	width: 50em;
	margin: 9.375em auto;
	position: relative;
}

.left-box {
	width: 15.625em;
	text-align: center;
	float: left;
}

.self-photo {
	border-radius: 50%;
	height: 9.375em;
	width: 9.375em;
}

.logo {
	border-radius: 50%;
	height: 1.55em;
	width: 1.55em;
	margin-left: 0.625em;
}

.right-box {
	padding-top: 1%;
	text-align: center;
}

button {
	margin-top: 3.125em;
}

.line {
	height: 1px;
	background-color: black;
	margin: 12% auto;
	margin-bottom: -55%;
	width: 50em;
}

.information {
	display: none;
	margin-top: 57%;
	border-radius: 0.3125em;
	padding-left: 0.625em;
	float: bottom;
}

.heading {
	color: #800000;
	margin-bottom: -0.5375em;
}

.project {
	margin-bottom: -0.5375em;
}
